body {
    background-color: #f5f5f5;
    font-size: 16px;
}

.page-header {
    border-color: #d3d3d3;
}

hr {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #fff;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #008000;
}

a:hover {
    color: #008000;
    text-decoration: none;
}

.skyblue {
    color: #87ceeb;
}

a.skyblue:hover {
    color: #87ceeb;
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #d3d3d3;
}

.footer-left {
    margin: 0;
}